-- Verificar e excluir as políticas existentes para evitar erros
DO $$
BEGIN
    -- Remover políticas existentes com nomes similares (apenas se existirem)
    IF EXISTS (SELECT 1 FROM pg_policies WHERE policyname = 'Todos podem ler comentários de séries') THEN
        DROP POLICY "Todos podem ler comentários de séries" ON comments;
    END IF;

    IF EXISTS (SELECT 1 FROM pg_policies WHERE policyname = 'Autores podem criar comentários em séries') THEN
        DROP POLICY "Autores podem criar comentários em séries" ON comments;
    END IF;

    IF EXISTS (SELECT 1 FROM pg_policies WHERE policyname = 'Autores podem editar seus próprios comentários em séries') THEN
        DROP POLICY "Autores podem editar seus próprios comentários em séries" ON comments;
    END IF;

    IF EXISTS (SELECT 1 FROM pg_policies WHERE policyname = 'Autores podem excluir seus próprios comentários em séries') THEN
        DROP POLICY "Autores podem excluir seus próprios comentários em séries" ON comments;
    END IF;
END
$$;

-- Atualizar políticas RLS para permitir acesso aos comentários por série
CREATE POLICY "Todos podem ler comentários de séries"
ON comments FOR SELECT
USING (series_id IS NOT NULL);

CREATE POLICY "Autores podem criar comentários em séries"
ON comments FOR INSERT
TO authenticated
WITH CHECK (series_id IS NOT NULL);

CREATE POLICY "Autores podem editar seus próprios comentários em séries"
ON comments FOR UPDATE
TO authenticated
USING (series_id IS NOT NULL AND author_id = auth.uid());

CREATE POLICY "Autores podem excluir seus próprios comentários em séries"
ON comments FOR DELETE
TO authenticated
USING (series_id IS NOT NULL AND author_id = auth.uid());
